header {
  background: $header-background;
  // border-bottom: $border;  
  position: fixed;
  z-index: 2;
  width: 100%;
  top:0;
  box-shadow: rgba(0, 0, 0, .4) 0px 1px 9px -2px;
  min-height: 4em;
  @include on_tablet {
    height: 4em;
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .5em;
  
  @include on_tablet {
    align-items: center;
  }
}
  .home-icon {
    font-size: 1.5em;
    margin-top: 7px;
    @include on_tablet {
      margin-top: 0;
    }
    .site-link {
      color: $primary-color;
      &:hover {
        color: lighten($primary-color, 2%);
      }
    }
  }
  .menu-toggle {
    text-align: right;
    label {
      cursor: pointer;
    }
  }

  .menu-toggle-button, 
  .menu-toggle-button:visited {
    color: $primary-color;
  }
  .menu-toggle-button:hover {
    color: lighten($primary-color, 2%);
  }



.main-nav {
  width: 300px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 100%;  
  transition: 0.3s left ease-in-out;
  background-color: white;
  z-index: 2;

  padding: 2em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    width: 100%;
    display: block;
    padding: .5em 0;
    margin: .5em 0;
    cursor: pointer;
    label {
      display: block;
      width: 100%;
      cursor: pointer;
    }
  }
  h2 {
    color: $primary-color;
    font-weight: 400;
    margin: 0;
  }
  .site-link {
    color: $primary-text-color;
  }
}

.main-nav-2 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-height: 2em;    
  overflow: hidden;
  padding-top: 50px;
  @include on_tablet {
    padding-top:0;
    justify-content: center;
    flex-direction: row;
    max-height: none;    
  }
}
.main-nav-2 .site-link {
  color: black;
  padding:10px;
  margin: 2px;
  transition: color .2s ease-in-out;
  white-space: nowrap;
  &:hover {
    color: lighten(black, 10%);
  }
}


#nav-open {
  display: none;
}
.menu-toggle {
  @include on_tablet {
    display: none;
  }
}
.menu-toggle-button {
  cursor: pointer;
  cursor: pointer;
  position: relative;
}
header .nav-button {
  position: absolute;
  color: black;
  top: 15px;
  transition: opacity .3s ease-in-out;
}
header .nav-button-close {
  opacity: 0;
}
#nav-open:checked ~ header .nav-button-close {
  opacity: 1;
}
#nav-open:checked ~ header .nav-button-open {
  opacity: 0;
}
#nav-open:checked ~ header .main-nav-2 { 
  max-height: none;
}



  // #nav-open:checked ~ header .close-nav i {
  //   transition: background-color .3s ease-in-out;
  //   color: red;
  //   // background-color: rgba(0,0,0,.5);
  //   // left:0;
  // }
  // #nav-open:checked ~ header .close-nav i {
  //   opacity: 0;
  // }
  // .close-nav i {
  //   opacity: 1;
  //   transition: opacity .3s ease-in-out;
  // }
  
  // .menu-toggle-button.open-nav {
  //   opacity: 1;
  //   transition: opacity .3s ease-in-out;
  // }


  // #closed:checked ~ header .open-nav {
  //   opacity: 1;
  // }


  // .menu-toggle-button.close-nav  i {
  //   transition: opacity .3s ease-in-out .3s;
  //   opacity: 0;
  //   margin-top: 1.5em;
  //   margin-right: calc(300px + 1.5em);
  //   color: white; 
  //   display: none;
  // }
  
  //   #nav-open:checked ~ header .menu-toggle-button.close-nav  i {
  //     display: block;
  //     opacity: 1;
  //   }
    
  .menu-toggle {
    @include on_tablet {
      display: none;
    }
  }
