* {
  box-sizing: border-box;  
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $primary-font; 
  font-weight: 200;
  color: $primary-text-color;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}




h1, h2, h3, h4, h5, h6, p {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  // font-family: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: $secondary-font;
}
p {
  font-family: $primary-font;
}


input::placeholder {
  content: ""; 
}

.under-construction {
  position: fixed;
  overflow-y:auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  padding-top: 200px;
  z-index: 10;
}
  .no-scroll {
    overflow: hidden;
  }



.center {
  text-align: center;
}

.site-link {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  &:visited {
    color: white;
  }
  &:hover, &:active {
    color: rgb(200, 200, 200);
  }
  
}


.inner {
  display: block;  
  margin: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  
  @include on_tablet {
    max-width: 640px;
  }

  @include on_desktop {
    max-width: 760px;
  }

  @include on_wide_desktop {
    max-width: 1200px;
  }

}

.v-inner {
  padding-top: $gutter * 2.5;
  padding-bottom: $gutter * 2.5;
}



.brand-button {
  border: none;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  font-size: 18px;
  
  &:hover, &:active {
    background-color: lighten($primary-color, 2%);
    cursor: pointer;
  }
}





.flex {
  display: flex;
  flex-direction: column;
  
  @include on_tablet {
    flex-direction: row;
    align-items: stretch;
  }
}

.about {

}
  .two-box {
    @include on_tablet {
      flex-basis: 33%;
      margin-right: $gutter;
    }

  }
    .two-box-image {
      background-image: url('../images/sam.jpg');
      background-size: cover;
      background-position: 30%;
      min-width: 100%;
      padding-bottom: 100%;
      margin-bottom: $gutter;
      
      @include on_tablet {
        min-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-right: $gutter;
        flex-basis: 35%;
      }
    }
      .two-box-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: .5em solid $primary-color;

        p {
          padding: 1.3em;          
          font-size: 1.2em;          

          @include on_tablet {
            margin-top: 120px;
          }

          @include on_desktop {
            margin-top: 160px;
          }
          @include on_wide_desktop {
            margin-top: 320px;

          }
        }
      }

      .name-container {
        @include on_tablet {
          padding-top: 6em;
          order: 2
        }
      }


.texture-bg-alt {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.6), rgba(255,255,255,.6)), url("../images/marble.jpg");
}

.texture-bg {
  background:
      radial-gradient(circle farthest-side at 0% 50%,$brand-color 23.5%,rgba(240,166,17,0) 0)21px 30px,
      radial-gradient(circle farthest-side at 0% 50%,darken($brand-color, 1%) 24%,rgba(240,166,17,0) 0)19px 30px,
      linear-gradient($brand-color 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,$brand-color 0)0 0,
      linear-gradient(150deg,$brand-color 24%,darken($brand-color, 1%) 0,darken($brand-color, 1%) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,darken($brand-color, 1%) 0,darken($brand-color, 1%) 76%,$brand-color 0)0 0,
      linear-gradient(30deg,$brand-color 24%,darken($brand-color, 1%) 0,darken($brand-color, 1%) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,darken($brand-color, 1%) 0,darken($brand-color, 1%) 76%,$brand-color 0)0 0,
      linear-gradient(90deg,darken($brand-color, 1%) 2%,$brand-color 0,$brand-color 98%,darken($brand-color, 1%) 0%)0 0 $brand-color;
      background-size: 40px 60px;
    
    background-color: $brand-color;
}
      

.about-co {
  text-align: justify;
  font-size: 20px;
  line-height: 1.4;  
  color: #fff;

  display: flex;
  flex-direction: columns;
  @include on_tablet {
    flex-direction: row;    
  }

  p {
    @include on_tablet {
      padding: 0 15px;
    }
  }
}

.policies {
  padding: 2em 0;
}


.services,
.policies {
  h3 {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
    font-size: 1.5em;
    // padding-right: 15%;
  }

}
  .photos-conatiner {

    flex-wrap: wrap;
    justify-content: space-between;
    
  }
    .photo-container {

      flex-basis: 100%;
      padding-bottom: 100%;
      background-size: cover;
      margin-bottom: $gutter;
      
      @include on_tablet {        
        flex-basis: calc((100% - (#{$gutter} * 1)) / 2);
        padding-bottom: calc(50% - (#{$gutter} / 2));
      }
      
      @include on_wide_desktop {
        flex-basis: calc((100% - (#{$gutter} * 2)) / 3);        
        padding-bottom: calc(32% - (#{$gutter}));
      }


      filter: brightness(0.7);
      &.a {
        // background-image: url('../images/eye.jpeg');
        background-image: url('../images/aa-min.jpeg');
        // background-position: 36%;
      }
      &.b {
        background-image: url('../images/ab-min.jpeg');
        // background-image: url('../images/ph.jpeg');
        filter: brightness(0.9);
      }
      &.c {
        background-image: url('../images/ac-min.jpeg');
        // background-image: url('../images/working.jpeg');
        // background-position: 36%;
      }
      &.d {
        background-image: url('../images/ad-min.jpeg');
        // background-image: url('../images/working.jpeg');
        // background-position: 36%;
      }
      &.e {
        background-image: url('../images/ae-min.jpeg');
        // background-image: url('../images/working.jpeg');
        // background-position: 36%;
      }
      &.f {
        background-image: url('../images/volume-card.jpeg');
        // background-image: url('../images/working.jpeg');
        // background-position: 36%;
      }
    }


    .right-align {
      display: block;
      text-align: right;
    }


.photoblock {
  display: flex;
  flex-wrap: wrap;
}
  .photoblock-photo {
    flex-basis: 100%;
    padding-bottom: 100%;
    background-size: cover;
    position: relative;
    
    @include on_tablet {
      flex-basis: 50%;
      padding-bottom: 50%;
    }
    @include min_width(998px) {
      flex-basis: 25%;
      padding-bottom: 25%;
    }
    
    &.s1 { 
      background-image: url('../images/lashes-look.jpeg');
      background-position: 60% 50%;
    }
    &.s3 { 
      background-image: url('../images/e1.jpeg');
    }
    &.s4 { 
      background-image: url('../images/s4.jpg');
    }
    &.s2 { 
      background-image: url('../images/e2.jpeg');
    }
  }

  .photoblock-photo-cover {
    transition: 0.3s all ease-in-out;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    content: "";
    &:hover, &:active {      
      background-color: rgba(0,0,0,.0);      
    }
  }
  





.book-now {
  text-align: center;
  background-color: white;
}




.contact-us {
  background-image: 
      linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.2))
    , url('../images/a.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  min-height: 350px;
}
  .contact-conatiner {
    display: flex;
    flex-direction: column;
    @include on_desktop {
      flex-direction: row;
    }
    display: none;
  }
  .contact-conatiner .copy {
    padding: 2em;
    background-color: $primary-color;
    flex-grow: 3;
  }
  
  .contact-conatiner .form {
    
    flex-grow: 2;
    padding: 2em;
    background-color: white;
    
    form {
      display: flex;
      flex-direction: column;

    }
  }



  .pricing {
    background: 
      linear-gradient(140deg, rgba(255,255,255,1), rgba(255,255,255,0)),$brand-color;
      
    h3 {
      font-size: 2.5em;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .pricing-container  {
    display: flex;
    flex-direction: column;
    gap: $gutter;
    justify-content: center;
    
    @include on_desktop {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }    
  }
  
  .pricing-item {
    text-align: center;
    @include on_desktop {
      width: 45%;
    }
    @include on_wide_desktop {
      width: 20%;
    }
    
    box-shadow: 
      .5px 1px 2px rgba(0,0,0,0.07),
      .5px 2px 4px rgba(0,0,0,0.07), 
      .5px 4px 8px rgba(0,0,0,0.07), 
      .5px 8px 16px rgba(0,0,0,0.07),
      .5px 16px 32px rgba(0,0,0,0.07), 
      .5px 32px 64px rgba(0,0,0,0.07);
  }
    .pricing-image {
      padding-bottom: 65%;
      background-size: cover;
      background-position: center;
    }
      .pricing-item:nth-of-type(1) .pricing-image {
        // background-position: 50% 100%;
        background-image: url('../images/classic-card.jpeg');
      }
      .pricing-item:nth-of-type(2) .pricing-image {
        // background-position: 50% 70%;
        background-image: url('../images/hybrid-card.jpeg');
      }
      .pricing-item:nth-of-type(3) .pricing-image {
        background-image: url('../images/volume-card.jpeg');
      }
      .pricing-item:nth-of-type(4) .pricing-image {
        background-image: url('../images/mega-card.jpeg');
      }
    .pricing-content {

      background-color: white;
      padding: $gutter;
      h4 {
        font-weight: 200;
        font-size: .8em;
        margin: 0;
        text-transform: uppercase;
        white-space: nowrap;
      }
      p {
        line-height: 1.5;
      }
      button {
        padding: 10px 30px;
      }

    }


.what-to-expect {
  h3 {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.expect-wrapper {
  display: flex;
  flex-direction: column;
  @include on_desktop {
    flex-direction: row;
  }

}
  .expect-items {    
    flex: 1;
    display: flex;
    flex-direction: column;    
    padding: 0 1em;
    @include on_desktop {
      width: 50%;
    }
  }
    .expect-item {
      flex:1;
      margin-right: 1em;
      text-align: center;

      h4 {
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
      }

      i {
        font-size: 2em;
        margin-right: .5em;
        color: $secondary-color;
      }
      p {
        text-align: justify;
      }
    }
  
  .expect-image {
    padding-bottom: 50%;
    background-image: url("../images/clouds.jpeg");
    background-size: cover;
    filter: contrast(0.8);
    margin-top: 2em;
      
    @include on_desktop {
      margin-top: 0;
      width: 50%;

    }

  }




  .modal {

    padding: 1em 0;
    padding-bottom: 5em;

    font-family: 'Open Sans, sans-serif';
    font-size: 1em;
    line-height: 1.4;  
    position: fixed;
    transform: translateX(-50%);
    
    background: white;
    left: -100%;
        
    overflow-y: scroll;
    z-index: 5;

    min-width: 300px;
    max-width: 760px;
    max-width: MIN(800px, calc(100vw - 2em));
    width: 100%;

    min-height: 500px;
    max-height: 500px;
    max-height: MIN(800px, calc(100vh - 2em));
    height: 100vh; 
    top: 1em;
    
    transition: left .3s ease-in-out;

    p {
      margin: 0;
      padding: 1em 0;
    }
    
    .menu-toggle-button.close-modal {
      position: absolute;
      top: 0.5em;
      padding: 20px;
      left: unset;
      right: 0.5em;
      bottom: unset;
      cursor: pointer;
      i {
        display: block;
      }

    }

    .brand-button {
      margin: 0 auto;
      display: block;
      max-width: 10em;
    }
    
  }
  .modal-bg {
    position: fixed;
    z-index: 4;
    background-color: rgba(0,0,0, .5);
    height: 100vh;
    width: 100vw;
    left: -100%;
    top: 0;
    opacity: 0;
    transition: opacity .4s ease-in-out, left .0s ease-in-out .4s;
    cursor: pointer;
  }


  
  #modal-open:checked ~ .modal-bg {
    z-index: 4;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    left: 0;
    
  }
  
  
  #modal-open:checked ~ .modal {
    left: 50%;
  }

  